@media (prefers-reduced-motion: no-preference) {

    .bubble,
    .prompt-btn {
        animation: verticalExpand .5s;
    }
    .spinner {
        animation: flip 1s linear infinite;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes flip {
    25% {
        transform: rotateX(180deg);
    }

    50% {
        transform: rotateX(0deg);
    }

    75% {
        transform: rotateY(180deg);
    }
}

@keyframes verticalExpand {
    from {
        transform: rotate3d(1, 0, 0, 90deg);
    }

    to {
        transform: 0;
    }
}