.GamePanel {
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 33%;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .GamePanel {
    width: 400px;
  }
}

/* game panel */

.output {
  padding: 1em;
}

.optionPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radioContainer {
  padding: 0;
}

.radioContainer p {
  padding-bottom: .5em;
}

.optionPanel p {
  margin: 0;
}

.optionPanel li {
  list-style-type: none;
  text-align: left;
}

.spinner {
  font-size: 6em;
  opacity: .3;
}

.bubble {
  padding: .6em;
  border: none;
  width: 70%;
  margin: .5em;
}

.sender,
.recipient {
  padding: .8em;
}

.sender {
  background-color: #0C595A;
  align-self: flex-start;
  border-radius: 1em;
  border-top-left-radius: 0;
}

.recipient {
  background-color: #C03221;
  align-self: flex-end;
  border-radius: 1em;
  border-bottom-right-radius: 0;
}

.output-text {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  border-radius: 1em;
  border-top-right-radius: 0;
}

.prompt-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0;
}

.prompt {
  background-color: #555350;
  border: 1px solid #353331;
  caret-color: #aaa;
  border-radius: 1em;
  font-size: 1em;
  display: inline-block;
}

input.prompt {
  padding-left: 1em;
  width: 70%;
  align-self: center;
  color: #fff;
}

input.prompt:focus {
  border: none;
}

.prompt-btn {
  background-color: #444;
  color: #fff;
  border-radius: 1em;
  border: none;
  padding: .5em 1em;
  margin: .5em;
  display: flex;
  justify-content: center;
  align-self: center;
  transition: all .1s ease-in-out;
}

.prompt-btn:hover {
  transform: scale(1.1);
  background-color: #000;
}
.prompt-btn:hover {
  cursor: pointer;
}

.prompt-btn img {
  width: 1em;
  margin-left: .5em;
  align-self: center;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.score-num {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2a2927;
  font-size: 1.4em;
  width: 30px;
  height: 40px;
  margin: .3em;
}

.language-option {
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.language-option input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  margin: 0 .5em;
  height: .9em;
  width: .9em;
  /* center */
  background: #F0F0C9;
  /* mid */
  border: 2px solid #0C595A;
  /* outer */
  box-shadow: 0 0 0 1px #F0F0C9;
}

.language-option input.active-radio:hover {
  /* mid */
  border: 3px solid #0C595A;
}

.language-option input:checked {
  /* center */
  background: #ffad1f;
  /* outer */
  box-shadow: 0 0 0 2px #ffad1f;
}

.language-option label {
  transform: translateY(-.5px);
  color: #ddd;
}

.language-option label.active-radioLabel:hover {
  color: #fff;
}