.outputText {
    font-size: 3em;
    padding: .2em;
}

.radioContainer {
    /* display: flex;
    justify-content: left;
    flex-direction: column; */
}

.optionPanel li {
    list-style-type: none;
}

.spinner {
    font-size: 6em;
    opacity: .3;
    animation: flip 1s linear infinite;
}



@keyframes flip {
    25% {
        transform: rotateX(180deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    75% {
        transform: rotateY(180deg);
    }
}