.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.GamePanel {
  padding: 1em;
  display: flex;
  flex-flow: column;
  width: 400px;
}

/*  */

html {
  font-family: 'PT Sans', Georgia, serif;
}

/* game panel */

.output {
  padding: 1em;
}

.optionPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radioContainer {
  padding: 0;
}

.optionPanel p {
  margin: 0;
}

.optionPanel li {
  list-style-type: none;
  text-align: left;
}

.spinner {
  font-size: 6em;
  opacity: .3;
  animation: flip 1s linear infinite;
}

.bubble {
  width: 70%;
  color: #fff;
  margin: .5em;
  padding: .5em;
  border: 0;
}

.sender {
  background-color: #333;
  align-self: flex-start;
  border-radius: 1em;
  border-top-left-radius: 0;
}

.recipient {
  background-color: darkblue;
  align-self: flex-end;
  border-radius: 1em;
  border-bottom-right-radius: 0;
}

.output-text {
  font-size: 1.5em;
  border-radius: .67em;
  border-bottom-right-radius: 0;
}

.prompt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 15%;
}

.prompt-row>.prompt,
.prompt-row>.sendicon {
  /* padding: .5em; */
  margin: .5em;
  align-self: center;
}

.prompt {
  background-color: #57595e;
  color: #fff;
  caret-color: #aaa;
  border-radius: 1em;
  font-size: 1em;
  width: 70%;
}

input.prompt {
  padding-left: 1em;
  width: 70%;
  align-self: center;
}

button.prompt {
  text-align: center;
  width: 75%
}

.prompt-row:hover>button.prompt {
  background-color: darkblue;
}

.prompt-row:hover>.sendicon {
  filter: invert(100%);
}

.sendicon {
  background-color: #000;
  width: 1.5em;
  height: 1.5em;
  padding: .5em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.sendicon img {
  width: 1em;
  align-self: center;
}

.sendicon-underlay {
  background-color: #000;
  padding: .5em;
  border-radius: 100%;
}

/* animations */

.bubble,
.sendicon {
  animation: fadeIn .5s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes flip {
  25% {
    transform: rotateX(180deg);
  }

  50% {
    transform: rotateX(0deg);
  }

  75% {
    transform: rotateY(180deg);
  }
}

@keyframes fadeIn {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }

  to {
    transform: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.language-option{
  font-family: system-ui, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="radio"] {
  appearance: none;
  background-color: red;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.form-control+.form-control {
  margin-top: 1em;
}