.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*  */

.GamePanel {
  padding: 1em;
}

/*  */

html {
  font-family: 'PT Sans', Georgia, serif;
}

.discussion {
  display: flex;
  flex-flow: column;
  width: 400px;
}

.sender {
  align-self: flex-start;
  border-radius: 1em;
  border-bottom-left-radius: 0;
}

.recipient {
  align-self: flex-end;
  border-radius: 1em;
  border-bottom-right-radius: 0;
}

.bubble-container {
  background-color: cornflowerblue;
  padding: .2em;
}

.bubble {
  border-radius: 1em;
  padding: .2em;
  margin: .05em;
  background-color: lightgray;
}